<form [formGroup]="registerForm" (ngSubmit)="emitRegisterUser()">
  <div class="container-fluid frame-container">
    <div class="row"></div>
    <div class="form-group row mt-4">
      <label for="login" class="offset-lg-1 col-lg-3 col-form-label"
        >{{ 'LABEL.LOGIN' | translate }}:</label
      >
      <div class="col-lg-7">
        <input
          type="text"
          formControlName="login"
          id="login"
          [ngClass]="{
            'is-invalid':
              registerForm.get('login').invalid &&
              registerForm.get('login').touched
          }"
          class="form-control"
          placeholder="{{ 'LABEL.LOGIN' | translate }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="offset-lg-1 col-lg-3 col-form-label"
        >{{ 'LABEL.EMAIL' | translate }}:</label
      >
      <div class="col-lg-7">
        <input
          type="email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              this.registerForm.get('email').invalid &&
              this.registerForm.get('email').touched
          }"
          class="form-control"
          placeholder="{{ 'LABEL.EMAIL' | translate }}"
          id="email"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="offset-lg-1 col-lg-3 col-form-label"
        >{{ 'LABEL.PASSWORD' | translate }}:</label
      >
      <div class="col-lg-7">
        <input
          type="password"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              this.registerForm.get('password').invalid &&
              this.registerForm.get('password').touched
          }"
          class="form-control"
          id="password"
          placeholder="{{ 'LABEL.PASSWORD' | translate }}"
          (change)="updateConfirmPasswordValidator()"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="confirmPassword" class="offset-lg-1 col-lg-3 col-form-label"
        >{{ 'LABEL.CONFIRM' | translate }}:</label
      >
      <div class="col-lg-7">
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              this.registerForm.get('confirmPassword').invalid &&
              this.registerForm.get('confirmPassword').touched
          }"
          placeholder="{{ 'LABEL.CONFIRM_PASSWORD' | translate }}"
          id="confirmPassword"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-10 offset-lg-1 text-center">
        <button
          type="submit"
          class="btn btn-success mr-4"
          [disabled]="registerForm.invalid"
        >
          {{ 'LABEL.SUBMIT' | translate }}
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-8 offset-lg-2 text-center">
        <button
          type="button"
          class="btn btn-danger mr-4"
          [routerLink]="['/login']"
        >
          {{ 'LABEL.CANCEL' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
