<div id="mySidebar" class="sidebar" #sidebar>
  <nav>
    <ul>
      <li></li>
      <li [ngClass]="selectedTab === 1 ? 'selected' : 'noSelected'">
        <a (click)="selectTab('/add-word', 1)">{{
          'LABEL.ADD_WORDS' | translate
        }}</a>
      </li>
      <li [ngClass]="selectedTab === 2 ? 'selected' : 'noSelected'">
        <a (click)="selectTab('/display-word', 2)">{{
          'LABEL.DISPLAY_WORDS' | translate
        }}</a>
      </li>
      <li [ngClass]="selectedTab === 3 ? 'selected' : 'noSelected'">
        <a (click)="selectTab('/add-packet', 3)">{{
          'LABEL.CREATE_PACKET' | translate
        }}</a>
      </li>
      <li [ngClass]="selectedTab === 4 ? 'selected' : 'noSelected'">
        <a (click)="selectTab('/display-packet', 4)">{{
          'LABEL.DISPLAY_PACKETS' | translate
        }}</a>
      </li>
      <li
        [ngClass]="selectedTab === 5 ? 'selected' : 'noSelected'"
        style="border-bottom: 1px solid #3c3f42"
      >
        <a (click)="selectTab('/learn', 5)">{{
          'LABEL.LEARNING' | translate
        }}</a>
      </li>
    </ul>
  </nav>
</div>
