<div class="sidebar" #sidebar>
  <nav>
    <ul>
      <li></li>
      <li [ngClass]="currentTab === 0 ? 'selected' : 'noSelected'">
        <a (click)="selectTab('/add-word')">{{
          'LABEL.ADD_WORD' | translate
        }}</a>
      </li>
      <li [ngClass]="currentTab === 1 ? 'selected' : 'noSelected'">
        <a (click)="selectTab('/display-word')">{{
          'LABEL.DISPLAY_WORDS' | translate
        }}</a>
      </li>
      <li [ngClass]="currentTab === 2 ? 'selected' : 'noSelected'">
        <a (click)="selectTab('/add-packet')">{{
          'LABEL.CREATE_PACKET' | translate
        }}</a>
      </li>
      <li [ngClass]="currentTab === 3 ? 'selected' : 'noSelected'">
        <a (click)="selectTab('/display-packet')">{{
          'LABEL.DISPLAY_PACKETS' | translate
        }}</a>
      </li>
      <li
        [ngClass]="currentTab === 4 ? 'selected' : 'noSelected'"
        style="border-bottom: 1px solid #3c3f42"
      >
        <a (click)="selectTab('/learn')">{{ 'LABEL.LEARNING' | translate }}</a>
      </li>
    </ul>
  </nav>
</div>
