<div class="container-fluid">
  <div class="row toast-message">
    <app-toast-messge
      class="ml-2"
      *ngIf="createdInformation !== ''"
      [text]="createdInformation"
    ></app-toast-messge>
    <div class="container-fluid col-lg-6">
      <app-invalid-credentials
        class="offset-lg-3 row"
        *ngIf="invalidCredentials"
      ></app-invalid-credentials>
    </div>
  </div>
</div>
<app-application-title></app-application-title>
<app-login-form
  (loginEvent)="loginAction($event)"
  [invalidCredentials]="invalidCredentials"
></app-login-form>
