/* APPLICATION TITLE */
.application-title {
  margin-top: 4rem;
  p {
    font-size: 2em;
    text-align: center;
    user-select: none;
  }
}
.row {
  margin-top: 1rem;
}
label {
  text-align: right;
  user-select: none;
}
button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.toast-message {
  height: 3rem;
}
.frame {
  margin-top: 0rem;
}
