.frame {
  width: 40%;
  min-width: 400px;
  margin-top: 10vh;
  height: 30vh;
  border: 1px solid #dadce0;
  border-radius: 8px;
  box-shadow: 10px 10px grey;
}
.form-control {
  margin-top: 3%;
}
button {
  margin-top: 5%;
  float: right;
  margin-right: 5%;
}
