<div class="container">
  <table class="table" aria-describedby="Word table">
    <thead>
      <tr>
        <th scope="col">{{ 'LABEL.WORD' | translate }}</th>
        <th scope="col">{{ 'LABEL.PLURAL' | translate }}</th>
        <th scope="col">{{ 'LABEL.MEANING' | translate }}</th>
        <th scope="col">{{ 'LABEL.CATEGORY' | translate }}</th>
        <th scope="col">{{ 'LABEL.EDIT' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of words">
        <td>{{ word.name }}</td>
        <td>{{ word.plural }}</td>
        <td>{{ word.translation }}</td>
        <td>{{ word.category }}</td>
        <td>
          <button class="btn btn-success" (click)="editWord(word.id)">
            +
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
