<app-header
  [userName]="userName"
  (sidebarDisplay)="changeSidebarDisplay()"
  (logout)="logout()"
></app-header>
<div class="page-wrapper" [ngClass]="{ toggled: isToggled }">
  <app-sidebar
    [currentTab]="currentTab$ | async"
    [isSidebarDisplayed$]="sidebarDisplay$"
  ></app-sidebar>
  <main class="content">
    <router-outlet></router-outlet>
    <div
      class="overlay"
      (click)="changeSidebarDisplay()"
      [ngClass]="{ showOverlay: !isToggled }"
    ></div>
  </main>
</div>
