<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-lg-7 col-xl-5 frame-container filter">
      <app-search (filter)="filterWords($event)"></app-search>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-lg-7 col-xl-9 frame-container table-margin-top">
      <app-word-table
        [words]="words$ | async"
        (deleteWord)="deleteWord($event)"
        (editWord)="editWord($event)"
        (loadWords)="loadWordsOnScroll()"
      ></app-word-table>
    </div>
  </div>
</div>
