<div class="container-fluid frame">
  <table>
    <thead>
      <tr>
        <th>Foregin</th>
        <th>Keyboard</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          ü
        </td>
        <td>
          1
        </td>
      </tr>
      <tr>
        <td>
          ä
        </td>
        <td>
          2
        </td>
      </tr>
      <tr>
        <td>
          ß
        </td>
        <td>
          3
        </td>
      </tr>
      <tr>
        <td>
          ö
        </td>
        <td>
          4
        </td>
      </tr>
    </tbody>
  </table>
</div>
