<div class="container">
  <table class="table" aria-describedby="show packet table">
    <thead>
      <tr>
        <th scope="col">{{ 'LABEL.MODE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        (click)="emitSelectMode(LearningMode.FOREGIN_TO_KNOWN)"
        [ngClass]="{ selected: isModeSelected(LearningMode.FOREGIN_TO_KNOWN) }"
      >
        <td>
          {{ 'LABEL.FOREGIN_TO_KNOWN' | translate }}
        </td>
      </tr>
      <tr
        (click)="emitSelectMode(LearningMode.KNOWN_TO_FOREGIN)"
        [ngClass]="{ selected: isModeSelected(LearningMode.KNOWN_TO_FOREGIN) }"
      >
        <td>
          {{ 'LABEL.KNOWN_TO_FOREGIN' | translate }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
