<div class="container-fluid">
  <div class="row">
    <table class="table mode-table col-md-12">
      <thead>
        <tr>
          <th scope="col" colspan="2">{{ 'LABEL.MODE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          (click)="emitSelectMode(LearningMode.FOREGIN_TO_KNOWN)"
          [ngClass]="{
            selected: isModeSelected(LearningMode.FOREGIN_TO_KNOWN)
          }"
        >
          <td>
            {{ 'LABEL.FOREGIN_TO_KNOWN' | translate }}
          </td>
          <td>
            <input
              type="checkbox"
              [checked]="isModeSelected(LearningMode.FOREGIN_TO_KNOWN)"
            />
          </td>
        </tr>
        <tr
          (click)="emitSelectMode(LearningMode.KNOWN_TO_FOREGIN)"
          [ngClass]="{
            selected: isModeSelected(LearningMode.KNOWN_TO_FOREGIN)
          }"
        >
          <td>
            {{ 'LABEL.KNOWN_TO_FOREGIN' | translate }}
          </td>
          <td>
            <input
              type="checkbox"
              [checked]="isModeSelected(LearningMode.KNOWN_TO_FOREGIN)"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
