<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-lg-7 col-xl-5 frame-container mx-auto filter">
      <app-search (filter)="filterPackets($event)"></app-search>
    </div>
  </div>
  <div class="row table-row">
    <div class="col-md-10 col-lg-7 col-xl-9 frame-container mx-auto word-table">
      <app-packet-table
        [packets]="packets$ | async"
        (deletePacket)="deletePacket($event)"
        (updatePacket)="updatePacket($event)"
      ></app-packet-table>
    </div>
  </div>
</div>
