.container-fluid {
  max-height: 70vh;
  background-color: white;
  overflow-y: scroll;
}
.table {
  thead {
    th {
      border-top: 0px;
      border-bottom: 0px;
    }
  }
  tbody {
    td {
      max-width: 8rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
