<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Employee Assignment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div class="header-container">
        <span>Hello </span><span th:text="${userName}"></span>
    </div>
    <div class="body-container">
        <p>Click link below to confirm registration process:</p>
        <a th:href="${confirmationLink}">Click</a>
    </div>
    <div class="footer container">
        <p>Greeting</p>
        <p>Lecarden Team</p>
    </div>
</body>
</html>