app-application-title {
  margin-top: 4rem;
}
.toast-message {
  height: 3rem;
}

form {
  label {
    text-align: right;
    user-select: none;
  }
  button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.row {
  margin-top: 1rem;
}
.frame {
  margin-top: 0rem;
}
