<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="container-fluid authentication-container">
    <div class="row"></div>
    <div class="form-group row mt-4">
      <label for="inputLogin" class="offset-lg-1 col-lg-3 col-form-label"
        >{{ 'LABEL.LOGIN' | translate }}:</label
      >
      <div class="col-lg-7">
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'LABEL.LOGIN' | translate }}"
          formControlName="login"
          [ngClass]="{
            'is-invalid':
              loginForm.get('login').invalid && loginForm.get('login').touched
          }"
          id="inputLogin"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="passwordInput" class="offset-lg-1 col-lg-3 col-form-label"
        >{{ 'LABEL.PASSWORD' | translate }}:</label
      >
      <div class="col-lg-7">
        <div class="input-group">
          <input
            type="password"
            class="form-control"
            placeholder="{{ 'LABEL.PASSWORD' | translate }}"
            formControlName="password"
            id="passwordInput"
            [ngClass]="{
              'is-invalid':
                loginForm.get('password').invalid &&
                loginForm.get('password').touched
            }"
            #passwordInput
          />
          <div class="input-group-append" (click)="changePasswordVisibility()">
            <div class="input-group-text">
              <em
                [ngClass]="isPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"
              ></em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="loginForm.invalid"
        >
          {{ 'LABEL.LOGIN' | translate }}
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-6 offset-lg-3 text-center">
        <span>I don't remeber my password</span>
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="col-lg-8 offset-lg-2 text-center">
        <button class="btn btn-primary" [routerLink]="['/register']">
          {{ 'LABEL.REGISTER' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
