<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-menu></app-menu>
    </div>
    <div class="col-md-3">
      <div class="row mb-5">
        <div class="container col-md-12 frame">
          <div class="row"></div>
          <div class="row">
            <div class="col-md-12 word-table">
              <app-packet-table
                [packets]="packets"
                [selectedPacket]="selectedPacket"
                (selectPacket)="assignSelectedPacket($event)"
              ></app-packet-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="selectedPacket > -1">
      <div class="col-md-2"><p class="arrow">&#8680;</p></div>
    </ng-container>
    <ng-container *ngIf="selectedPacket > -1">
      <div class="col-md-3">
        <div class="row mb-5">
          <div class="container col-md-12 frame">
            <div class="row"></div>
            <div class="row">
              <div class="col-md-12 word-table">
                <app-learning-mode-selector
                  [selectedMode]="selectedMode"
                  (selectMode)="assignSelectedMode($event)"
                ></app-learning-mode-selector>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="selectedMode !== ''">
          <div class="row">
            <div class="col-md-12">
              <p class="arrow">&#8681;</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-success"
                [routerLink]="['/learn/translation/', selectedPacket]"
                [queryParams]="{ selectedMode: selectedMode }"
              >
                {{ 'LABEL.START_LEARNING' | translate }}
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
