<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
      <app-menu></app-menu>
    </div>
    <div class="col-sm-6 col-md-7 col-lg-3 col-xl-3">
      <div class="row mb-5">
        <div class="container col-md-12 frame">
          <div class="row"></div>
          <div class="row">
            <div class="col-md-12 word-table">
              <app-packet-table
                [packets]="packets"
                [selectedPacket]="selectedPacket"
                (selectPacket)="assignSelectedPacket($event)"
              ></app-packet-table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="selectedPacket">
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <div class="row mb-5">
          <div class="container col-md-12 frame">
            <div class="row"></div>
            <div class="row">
              <div class="col-md-12 word-table">
                <app-learning-mode-selector
                  [selectedMode]="selectedMode"
                  (selectMode)="assignSelectedMode($event)"
                ></app-learning-mode-selector>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="selectedMode >= 0">
          <div class="row">
            <div class="container frame" *ngIf="selectedLastResult">
              <div class="row">
                <div class="col-md-12">
                  <app-last-result
                    [result]="selectedLastResult"
                    [isLastResultMode]="isLastResultMode"
                    (resultMode)="selectLastResult()"
                  ></app-last-result>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <button
                *ngIf="isLastResultMode"
                class="btn btn-success"
                [routerLink]="[
                  '/learn/translation/' +
                    selectedPacket +
                    '/result/' +
                    this.selectedLastResult.id
                ]"
                [queryParams]="{ selectedMode: selectedMode }"
              >
                {{ 'LABEL.START_LEARNING' | translate }}
              </button>
              <button
                *ngIf="!isLastResultMode"
                class="btn btn-success"
                [routerLink]="['/learn/translation/' + selectedPacket]"
                [queryParams]="{ selectedMode: selectedMode }"
              >
                {{ 'LABEL.START_LEARNING' | translate }}
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
