<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-12 mx-auto menu">
      <app-word-menu
        [words]="words$ | async"
        [addedWordsIndex$]="addedWordsIndex$"
        (addWord)="addWordToPacket($event)"
        (filter)="filterWords($event)"
        (loadWords)="loadPageWords()"
      ></app-word-menu>
    </div>
    <div class="col-lg-6 col-md-12 mx-auto menu">
      <app-packet-menu
        (savePacket)="savePacket($event)"
        (removeWord)="removeWord($event)"
        (cancelPacket)="clearWordsInPacket()"
        (setPacketName)="setPacketName($event)"
        (setPacketLanguage)="setPacketLanguage($event)"
        [wordsInPacket]="wordsInPacket$ | async"
        [packetName]="packetName$ | async"
        [languages]="languages$ | async"
        [currentLanguage]="currentLanguage$ | async"
      ></app-packet-menu>
    </div>
  </div>
</div>
