<div class="container-fluid">
  <div class="row mb-4">
    <app-menu></app-menu>
    <div class="col-md-1"></div>
    <div class="container col-md-4 frame">
      <div class="row">
        <div class="col-md-12 filter">
          <app-add-packet-word-filter></app-add-packet-word-filter>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 word-table">
          <app-add-packet-word-table></app-add-packet-word-table>
        </div>
      </div>
    </div>
    <div class="container col-md-4 frame">
      <div class="col-md-12"><app-packet-menu></app-packet-menu></div>
    </div>
  </div>
</div>
