<div class="container">
  <table class="table" aria-describedby="Add packet table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Word</th>
        <th scope="col">Meaning</th>
        <th scope="col">Category</th>
        <th scope="col">Add</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of words; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ word.name }}</td>
        <td>{{ word.translation }}</td>
        <td>{{ word.category }}</td>
        <td>
          <button
            class="btn btn-success"
            (click)="emitAddWord(word)"
            [disabled]="addedWordsIndex.get(word.id)"
          >
            +
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
