<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">German</th>
        <th scope="col">Plural</th>
        <th scope="col">Polish</th>
        <th scope="col">Category</th>
        <th scope="col">Add</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Egal</td>
        <td>-</td>
        <td>Obojętnie</td>
        <td>Sport</td>
        <td><button class="btn btn-success">+</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Egal</td>
        <td>-</td>
        <td>Obojętnie</td>
        <td>-</td>
        <td><button class="btn btn-success">+</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Egal</td>
        <td>-</td>
        <td>Obojętnie</td>
        <td>Sport</td>
        <td><button class="btn btn-success">+</button></td>
      </tr>
    </tbody>
  </table>
</div>
