.frame {
  height: 8rem;
  margin-top: 16rem;
  .row {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    #inputLogin {
      height: 4rem;
      font-size: 2rem;
      text-align: center;
    }
    button {
      font-size: 2rem;
      width: 60%;
    }
  }
}
