app-application-title {
  margin-top: 4rem;
}
.row {
  margin-top: 1rem;
}
label {
  text-align: right;
  user-select: none;
}
button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.frame {
  margin-top: 0rem;
}
.toast-message {
  height: 3rem;
}
