<div class="container-fluid">
  <h2>{{ 'LABEL.WORDS' | translate }}</h2>
  <ul>
    <li [routerLink]="['/add-word']">{{ 'LABEL.ADD_WORDS' | translate }}</li>
    <li [routerLink]="['/display-word']">
      {{ 'LABEL.DISPLAY_WORDS' | translate }}
    </li>
    <li [routerLink]="['/add-packet']">
      {{ 'LABEL.CREATE_PACKET' | translate }}
    </li>
    <li [routerLink]="['/display-packet']">
      {{ 'LABEL.DISPLAY_PACKETS' | translate }}
    </li>
  </ul>
  <h2>{{ 'LABEL.LEARNING' | translate }}</h2>
  <h2>{{ 'LABEL.GAMES' | translate }}</h2>
  <h2>{{ 'LABEL.STATISTICS' | translate }}</h2>
</div>
