<form [formGroup]="passwordForm" (ngSubmit)="emitChangePassword()">
  <div class="container-fluid authentication-container">
    <div class="row"></div>
    <div class="form-group row mt-4">
      <label for="inputPassword" class="offset-lg-1 col-lg-3 col-form-label"
        >{{ 'LABEL.PASSWORD' | translate }}:</label
      >
      <div class="col-lg-7">
        <input
          type="password"
          class="form-control"
          placeholder="{{ 'LABEL.PASSWORD' | translate }}"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              passwordForm.get('password').invalid &&
              passwordForm.get('password').touched
          }"
          id="inputPassword"
          (change)="updateConfirmPasswordValidator()"
        />
      </div>
    </div>
    <div class="form-group row mt-4">
      <label
        for="inputConfirmPassword"
        class="offset-lg-1 col-lg-3 col-form-label"
        >{{ 'LABEL.CONFIRM' | translate }}:</label
      >
      <div class="col-lg-7">
        <input
          type="password"
          class="form-control"
          placeholder="{{ 'LABEL.CONFIRM_PASSWORD' | translate }}"
          formControlName="confirmPassword"
          [ngClass]="{
            'is-invalid':
              passwordForm.get('confirmPassword').invalid &&
              passwordForm.get('confirmPassword').touched
          }"
          id="inputConfirmPassword"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-10 offset-lg-1 text-center">
        <button
          type="submit"
          class="btn btn-success mr-4"
          [disabled]="passwordForm.invalid"
        >
          {{ 'LABEL.SUBMIT' | translate }}
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-8 offset-lg-2 text-center">
        <button
          type="button"
          class="btn btn-danger mr-4"
          [routerLink]="['/login']"
        >
          {{ 'LABEL.CANCEL' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
