<div class="container">
  <div class="add-word-confirmation-div" *ngIf="wordHasBeenSaved">
    <span>Word has been saved</span>
  </div>
  <div class="add-word-confirmation-div fail" *ngIf="wordHasNotBeenSaved">
    <span>Word has not been saved. Try later.</span>
  </div>
  <form (ngSubmit)="emitSaveWord()" [formGroup]="addWordForm">
    <div class="form-group">
      <label for="german-word-input">Word*</label>
      <input
        type="text"
        class="form-control"
        id="german-word-input"
        placeholder="Enter word"
        formControlName="name"
        [ngClass]="{ 'is-invalid': name.invalid && name.touched }"
      />
      <small id="german-word-help-label" class="form-text text-muted"
        >Po średniku możesz dodać synonimy</small
      >
      <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="plural-input">Plural</label>
      <input
        type="text"
        class="form-control"
        id="plural-input"
        placeholder="Plural"
        formControlName="plural"
        [ngClass]="{ 'is-invalid': plural.invalid && plural.touched }"
      />
    </div>
    <div class="form-group">
      <label for="meaning-input">Meaning*</label>
      <input
        type="text"
        class="form-control"
        id="meaning-input"
        placeholder="Meaning"
        formControlName="translation"
        [ngClass]="{ 'is-invalid': translation.invalid && translation.touched }"
      />
      <small id="meaning-help-label" class="form-text text-muted"
        >Po średniku możesz dodać synonimy</small
      >
      <div
        class="alert alert-danger"
        *ngIf="translation.invalid && translation.touched"
      >
        Meaning is required
      </div>
    </div>

    <div class="form-group">
      <label for="category-input">Category</label>
      <input
        type="text"
        class="form-control"
        id="category-input"
        placeholder="Category"
        formControlName="category"
        [ngClass]="{ 'is-invalid': category.invalid && category.touched }"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      id="submit-button"
      [disabled]="addWordForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
