<div class="container">
  <form (ngSubmit)="emitSaveWord()" [formGroup]="addWordForm">
    <div class="form-group">
      <label for="german-word-input">Word*</label>
      <input
        type="text"
        class="form-control"
        id="german-word-input"
        placeholder="Enter word"
        formControlName="name"
        [ngClass]="{
          'is-invalid': name.invalid && (name.touched || formInvalidSubmitted)
        }"
      />
      <small id="german-word-help-label" class="form-text text-muted"
        >Po średniku możesz dodać synonimy</small
      >
      <div
        class="alert alert-danger"
        *ngIf="name.invalid && (name.touched || formInvalidSubmitted)"
      >
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="plural-input">Plural</label>
      <input
        type="text"
        class="form-control"
        id="plural-input"
        placeholder="Plural"
        formControlName="plural"
        [ngClass]="{ 'is-invalid': plural.invalid && plural.touched }"
      />
    </div>
    <div class="form-group">
      <label for="meaning-input">Meaning*</label>
      <input
        type="text"
        class="form-control"
        id="meaning-input"
        placeholder="Meaning"
        formControlName="translation"
        [ngClass]="{
          'is-invalid':
            translation.invalid && (translation.touched || formInvalidSubmitted)
        }"
      />
      <small id="meaning-help-label" class="form-text text-muted"
        >Po średniku możesz dodać synonimy</small
      >
      <div
        class="alert alert-danger"
        *ngIf="
          translation.invalid && (translation.touched || formInvalidSubmitted)
        "
      >
        Meaning is required
      </div>
    </div>

    <div class="form-group">
      <label for="category-input">Category</label>
      <input
        type="text"
        list="category"
        class="form-control"
        formControlName="category"
        placeholder="Category"
      />
      <datalist id="category">
        <option *ngFor="let category of categories">{{ category }}</option>
      </datalist>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      id="submit-button"
      [ngClass]="{ 'invalid-form-button': addWordForm.invalid }"
    >
      Submit
    </button>
  </form>
</div>
