<div class="container">
  <form (ngSubmit)="emitSaveWord()" [formGroup]="addWordForm">
    <div class="form-group">
      <label for="german-word-input">{{ 'LABEL.WORD' | translate }}*</label>
      <input
        type="text"
        class="form-control"
        id="german-word-input"
        placeholder="{{ 'INFO.ENTER_WORD' | translate }}"
        formControlName="name"
        [ngClass]="{
          'is-invalid': name.invalid && (name.touched || formInvalidSubmitted)
        }"
      />
      <small id="german-word-help-label" class="form-text text-muted">{{
        'INFO.SYNONYMS_AFTER_SEMICOLN' | translate
      }}</small>
      <div
        class="alert alert-danger"
        *ngIf="name.invalid && (name.touched || formInvalidSubmitted)"
      >
        {{ 'INFO.WORD_IS_REQUIRED' | translate }}
      </div>
    </div>
    <div class="form-group">
      <label for="plural-input">{{ 'LABEL.PLURAL' | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="plural-input"
        placeholder="{{ 'LABEL.PLURAL' | translate }}"
        formControlName="plural"
        [ngClass]="{ 'is-invalid': plural.invalid && plural.touched }"
      />
    </div>
    <div class="form-group">
      <label for="meaning-input">{{ 'LABEL.MEANING' | translate }}*</label>
      <input
        type="text"
        class="form-control"
        id="meaning-input"
        placeholder="{{ 'LABEL.MEANING' | translate }}"
        formControlName="translation"
        [ngClass]="{
          'is-invalid':
            translation.invalid && (translation.touched || formInvalidSubmitted)
        }"
      />
      <small id="meaning-help-label" class="form-text text-muted">{{
        'INFO.SYNONYMS_AFTER_SEMICOLN' | translate
      }}</small>
      <div
        class="alert alert-danger"
        *ngIf="
          translation.invalid && (translation.touched || formInvalidSubmitted)
        "
      >
        {{ 'INFO.MEANING_IS_REQUIRED' | translate }}
      </div>
    </div>

    <div class="form-group">
      <label for="category-input">{{ 'LABEL.CATEGORY' | translate }}</label>
      <input
        type="text"
        list="category"
        class="form-control"
        formControlName="category"
        placeholder="{{ 'LABEL.CATEGORY' | translate }}"
      />
      <datalist id="category">
        <option *ngFor="let category of categories">{{ category }}</option>
      </datalist>
    </div>
    <div class="form-group">
      <label for="imageUrl-input">Image url</label>
      <input
        type="text"
        class="form-control"
        id="imageUrl-input"
        placeholder="Image url"
        formControlName="imageUrl"
        [ngClass]="{ 'is-invalid': imageUrl.invalid && imageUrl.touched }"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      id="submit-button"
      [ngClass]="{ 'invalid-form-button': addWordForm.invalid }"
    >
      {{ 'LABEL.SUBMIT' | translate }}
    </button>
  </form>
</div>
