$background-color-primary: #e9ebee;

.container-fluid {
  background-color: $background-color-primary;
  margin-top: 2rem;
}

.frame-container-examination {
  height: 35rem;
}

.frame-container {
  max-height: 25rem;
  margin-top: 4rem;
}

.edit-word-container {
  height: 45rem;
}

.border {
  border-width: 3px !important;
  border-style: solid !important;
}

.borderCorrect {
  border-color: green !important;
}

.borderIncorrect {
  border-color: red !important;
}

.ml {
  margin-left: 2%;
}

.p0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.image-container {
  margin-top: 8rem;
  display: block;
}

.example-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
