<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-md-2">
      <app-menu></app-menu>
    </div>
    <div class="col-xl-1 col-md-2"></div>
    <div class="col-xl-6 col-md-5">
      <app-response-to-answer
        *ngIf="!answer.isCorrectAnswer"
        [answer]="answer"
        (continue)="continueAfterAnswerResponse()"
        (updateWord)="addSynonymToWord()"
      ></app-response-to-answer>
      <app-examination
        *ngIf="
          packet.words.length > 0 &&
          answer.isCorrectAnswer &&
          selectedMode == LearningMode.KNOWN_TO_FOREGIN
        "
        [word]="packet.words[wordIterator].name"
        (answer)="checkAnswer($event)"
      ></app-examination>
      <app-examination
        *ngIf="
          packet.words.length > 0 &&
          answer.isCorrectAnswer &&
          selectedMode == LearningMode.FOREGIN_TO_KNOWN
        "
        [word]="packet.words[wordIterator].translation"
        (answer)="checkAnswer($event)"
      ></app-examination>
      <app-learning-final-page
        *ngIf="packet.words.length === 0"
        (saveScore)="saveScore()"
      >
      </app-learning-final-page>
    </div>
    <div class="col-xl-3 col-md-3">
      <div class="row mt-4">
        <app-learning-result
          [packetSize]="result.wordsResultsTOs.length"
          [numberOfGoodAnswers]="statistic.numberOfGoodAnswers"
        ></app-learning-result>
      </div>
      <div class="row mt-4">
        <app-score
          [numberOfGoodAnswers]="statistic.numberOfGoodAnswers"
          [numberOfAttempts]="statistic.numberOfAttempts"
        >
        </app-score>
      </div>
      <div class="row">
        <app-learning-phase-result
          *ngIf="statistic.scoreAfterRound.length > 0"
          [scores]="statistic.scoreAfterRound"
          [packetSize]="result.wordsResultsTOs.length"
        ></app-learning-phase-result>
      </div>
    </div>
  </div>
  <div class="row image-row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <app-image
        *ngIf="
          this.packet.words[this.wordIterator] &&
          this.packet.words[this.wordIterator].imageUrl
        "
        [imageUrl]="this.packet.words[this.wordIterator].imageUrl"
      ></app-image>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
