<div class="container-fluid" *ngIf="packetSize > 0">
  <div class="row">
    <!--Image-->

    <div class="col-md-1 image-container ml p0">
      <!--
      <app-image
        *ngIf="answer && currentWord.imageUrl"
        [imageUrl]="currentWord.imageUrl"
      ></app-image>
      -->
    </div>

    <!--Examination-->
    <div
      class="ml col-md-8 frame-container border"
      [ngClass]="{
        borderCorrect: answer && answer.isCorrectAnswer,
        borderIncorrect: answer && !answer.isCorrectAnswer
      }"
    >
      <app-examination
        *ngIf="packet?.words.length > 0 && !answer"
        [word]="currentWord"
        [learningMode]="selectedMode"
        (answer)="checkAnswer($event)"
      ></app-examination>
      <app-response-to-answer
        *ngIf="answer"
        [answer]="answer"
        (continue)="continueAfterAnswerResponse()"
        (updateWord)="displayEditPanel()"
        (saveWord)="updateWord($event)"
        [word]="currentWord"
      ></app-response-to-answer>
      <app-learning-final-page
        *ngIf="packet?.words.length === 0 && !answer"
        (saveScore)="saveScore()"
        (changeFinalBasketMode)="setFinalModeBasket()"
      >
      </app-learning-final-page>
    </div>

    <!--Score-->
    <div class="ml col-md-2 frame-container">
      <div class="container-fluid"></div>
      <div class="row">
        <app-learning-result
          [packetSize]="packetSize"
          [numberOfGoodAnswers]="statistic.numberOfGoodAnswers"
        ></app-learning-result>
      </div>
      <div class="row">
        <app-score
          [numberOfGoodAnswers]="statistic.numberOfGoodAnswers"
          [numberOfAttempts]="statistic.numberOfAttempts"
        >
        </app-score>
      </div>
      <div class="row">
        <app-learning-phase-result
          *ngIf="statistic.scoreAfterRound.length > 0"
          [scores]="statistic.scoreAfterRound"
          [packetSize]="wordResult.length"
        ></app-learning-phase-result>
      </div>
    </div>
  </div>
  <!--Example-->
  <div class="row" *ngIf="answer">
    <div class="offset-md-3 col-md-6 offset-md-3">
      <app-example [example]="currentWord.example"></app-example>
    </div>
  </div>
</div>
