.fa-user {
  margin-top: 1rem;
  height: 3em;
  width: 3em;
}
.user-name {
  margin-top: 1rem;
  font-size: 2em;
  font-family: fantasy;
}
.btn {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
