.fa-user {
  font-size: 4rem;
}
.fa-power-off {
  font-size: 1.5rem;
}
.user-name {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-family: fantasy;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
span {
  margin-left: 1rem;
}
