.container-fluid {
  border: 1px solid #dadce0;
  border-radius: 8px;
  width: 12%;
  margin-left: 2%;
  margin-top: 2%;
  box-shadow: 10px 10px grey;
}
button,
p {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
