<form [formGroup]="forgotPasswordForm" (ngSubmit)="emitEmailAddress()">
  <div class="container-fluid authentication-container">
    <div class="row"></div>
    <div class="form-group row mt-4">
      <label for="inputEmail" class="offset-lg-1 col-lg-3 col-form-label"
        >{{ 'LABEL.EMAIL' | translate }}:</label
      >
      <div class="col-lg-7">
        <input
          type="email"
          class="form-control"
          placeholder="{{ 'LABEL.EMAIL' | translate }}"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              forgotPasswordForm.get('email').invalid &&
              forgotPasswordForm.get('email').touched
          }"
          id="inputEmail"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-10 offset-lg-1 text-center">
        <button
          type="submit"
          class="btn btn-success mr-4"
          [disabled]="forgotPasswordForm.invalid"
        >
          {{ 'LABEL.SEND_PASSWORD_RESET' | translate }}
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-8 offset-lg-2 text-center">
        <button
          type="button"
          class="btn btn-danger mr-4"
          [routerLink]="['/login']"
        >
          {{ 'LABEL.CANCEL' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
