<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'LABEL.WORD' | translate }}</th>
        <th scope="col">{{ 'LABEL.MEANING' | translate }}</th>
        <th scope="col">{{ 'LABEL.CATEGORY' | translate }}</th>
        <th scope="col">{{ 'LABEL.REMOVE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of wordsInPacket; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ word.name }}</td>
        <td>{{ word.translation }}</td>
        <td>{{ word.category }}</td>
        <td>
          <button class="btn btn-danger" (click)="emitRemoveWord(word)">
            -
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
