.frame {
  height: 18rem;
  text-align: center;
  .row {
    justify-content: center;
    align-items: center;
    line-height: 5rem;
    p {
      font-size: 2rem;
    }
    button,
    input[type='button'] {
      width: 100%;
      font-size: 2rem;
    }
  }
}
img {
  width: 3rem;
  height: 3rem;
}
img:hover {
  cursor: pointer;
}
