<form
  [formGroup]="answerForm"
  (ngSubmit)="emitContinue()"
  class="container-fluid frame"
>
  <div class="row">
    <div class="offset-xl-10 col-xl-2 offset-lg-8 col-lg-4">
      <img
        src="../../../../../assets/other/edit-icon.png"
        data-toggle="modal"
        data-target="#exampleModal"
      />
    </div>
  </div>

  <div class="row col-md-12" *ngIf="!answer?.isCorrectAnswer">
    <p>{{ 'LABEL.CORRECT' | translate }}: {{ answer?.correctAnswer }}</p>
  </div>
  <div class="row col-md-12" *ngIf="!answer?.isCorrectAnswer">
    <p>{{ 'LABEL.YOUR' | translate }}: {{ answer?.userAnswer }}</p>
  </div>
  <div class="row col-md-12" *ngIf="answer?.isCorrectAnswer">
    <p>{{ answer?.userAnswer }}</p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-10 mx-auto">
      <button #submitButton type="submit" class="btn btn-success">
        {{ 'LABEL.CONTINUE' | translate }}
      </button>
    </div>
  </div>
</form>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit word</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="emitSaveWord()" [formGroup]="addWordForm">
          <div class="form-group">
            <label for="german-word-input"
              >{{ 'LABEL.WORD' | translate }}*</label
            >
            <input
              type="text"
              class="form-control"
              id="german-word-input"
              placeholder="{{ 'INFO.ENTER_WORD' | translate }}"
              formControlName="name"
            />
            <small id="german-word-help-label" class="form-text text-muted">{{
              'INFO.SYNONYMS_AFTER_SEMICOLN' | translate
            }}</small>
            <div
              class="alert alert-danger"
              *ngIf="name.invalid && (name.touched || formInvalidSubmitted)"
            >
              {{ 'INFO.WORD_IS_REQUIRED' | translate }}
            </div>
          </div>
          <div class="form-group">
            <label for="plural-input">{{ 'LABEL.PLURAL' | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="plural-input"
              placeholder="{{ 'LABEL.PLURAL' | translate }}"
              formControlName="plural"
              [ngClass]="{ 'is-invalid': plural.invalid && plural.touched }"
            />
          </div>
          <div class="form-group">
            <label for="meaning-input"
              >{{ 'LABEL.MEANING' | translate }}*</label
            >
            <input
              type="text"
              class="form-control"
              id="meaning-input"
              placeholder="{{ 'LABEL.MEANING' | translate }}"
              formControlName="translation"
              [ngClass]="{
                'is-invalid':
                  translation.invalid &&
                  (translation.touched || formInvalidSubmitted)
              }"
            />
            <small id="meaning-help-label" class="form-text text-muted">{{
              'INFO.SYNONYMS_AFTER_SEMICOLN' | translate
            }}</small>
            <div
              class="alert alert-danger"
              *ngIf="
                translation.invalid &&
                (translation.touched || formInvalidSubmitted)
              "
            >
              {{ 'INFO.MEANING_IS_REQUIRED' | translate }}
            </div>
          </div>
          <div class="form-group">
            <label for="example">Example</label>
            <input
              type="text"
              class="form-control"
              id="example"
              placeholder="Example"
              formControlName="example"
              [ngClass]="{ 'is-invalid': example.invalid && example.touched }"
            />
          </div>
          <div class="form-group">
            <label for="audioUrl-input">Audio url</label>
            <input
              type="text"
              class="form-control"
              id="audioUrl-input"
              placeholder="Audio url"
              formControlName="audioUrl"
              [ngClass]="{ 'is-invalid': audioUrl.invalid && audioUrl.touched }"
            />
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button
                type="submit"
                class="btn btn-success"
                id="submit-button"
                [ngClass]="{ 'invalid-form-button': addWordForm.invalid }"
              >
                {{ 'LABEL.SUBMIT' | translate }}
              </button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
