<form
  [formGroup]="answerForm"
  (ngSubmit)="emitContinue()"
  class="container frame col-md-12"
>
  <div class="row col-md-12">
    <p>{{ 'LABEL.CORRECT' | translate }}: {{ answer?.correctAnswer }}</p>
  </div>
  <div class="row col-md-12">
    <p>{{ 'LABEL.YOUR' | translate }}: {{ answer?.userAnswer }}</p>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button #submitButton type="submit" class="btn btn-success">
        {{ 'LABEL.CONTINUE' | translate }}
      </button>
    </div>
    <div class="col-md-2"></div>
  </div>
</form>
