.container-fluid {
  max-height: 70vh;
  overflow: auto;
}

.table {
  thead {
    th {
      border-top: 0px;
      border-bottom: 0px;
    }
  }
}

tbody {
  tr:hover {
    cursor: pointer;
    background-color: lightgray;
  }
  .selected {
    background-color: lightgray;
  }
}
