<div class="container-fluid">
  <div class="row">
    <table class="table col-md-12">
      <thead>
        <tr>
          <th scope="col">{{ 'LABEL.NAME' | translate }}</th>
          <th scope="col">{{ 'LABEL.WORDS' | translate }}</th>
          <th scope="col">{{ 'LABEL.LANGUAGE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let packet of packets; index as i"
          [ngClass]="{ selected: packet.id === selectedPacket }"
          [ngClass]="{ lastLearned: packet.id === currentPacketId }"
          (click)="emitSelectPacket(packet.id)"
        >
          <td>{{ packet.name }}</td>
          <td>{{ packet.wordsNumber }}</td>
          <td *ngIf="packet.languageTO">
            {{ packet.languageTO?.foreignLanguage }} /
            {{ packet.languageTO?.knownLanguage }}
          </td>
          <td *ngIf="!packet.languageTO">-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
